.app__store__home__services-wrapper {
  padding: 5rem 0.5rem;
  background: var(--clr-primary-10);
}

.app__store__home__services-header h3 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: var(--clr-primary-1);
}

.app__store__home__services-wrapper p {
  margin-bottom: 0;
  line-height: 1.8;
  color: var(--clr-primary-3);
}

.app__store__home__services-services-center {
  margin-top: 4rem;
  display: grid;
  gap: 2.5rem;
}

.app__store__home__services-services-center h4 {
  color: var(--clr-primary-1);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}

.app__store__home__services-service {
  background: var(--clr-primary-7);
  text-align: center;
  padding: 2.5rem 2rem;
  border-radius: var(--radius);
}

.app__store__home__services-service p {
  color: var(--clr-primary-2);
  margin-bottom: 0;
  line-height: 1.8;
}

.app__store__home__services-icon {
  width: 4rem;
  height: 4rem;
  display: grid;
  margin: 0 auto;
  place-items: center;
  margin-bottom: 1rem;
  border-radius: 50%;
  background: var(--clr-primary-10);
  color: var(--clr-primary-1);
}

.app__store__home__services-icon svg {
  font-size: 2rem;
}

@media screen and (min-width: 992px) {
  .app__store__home__services-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .app__store__home__services-header h3 {
    font-size: 2rem;
  }

  .app__store__home__services-services-center h4 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 576px) {
  .app__store__home__services-services-center {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

/* @media screen and (min-width: 1280px) {
  .app__store__home__services-wrapper {
    padding: 0;
  }
  .section-center {
    transform: translateY(5rem);
  }
} */
